* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body, button {
  font: 16px/1.5 Silkscreen, sans-serif;
}
body {
  background: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
button {
  background: black;
  color: white;
  border: 0;
  padding: 0 10px;
}
button:active,
button:focus {
  outline: none;
}
button:active {
  background: dodgerblue;
}
button:hover {
  background: darkgray;
}
#edit {
  opacity: 0.9;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease-in-out;
  top: -410px;
}
#edit.toggled {
  top: 0;
}
#edit .wrapper {
  border: 10px black solid;
}
#blockly {
  height: 400px;
}
.blocklyText,
.blocklyTreeLabel {
  font-family: Silkscreen, sans-serif !important;
}
#toggle-edit {
  margin-left: 20px;
}
#fight {
  background: forestgreen;
}
#fight:hover {
  background: limegreen;
}
#stage {
  height: 100vh;
}
